---
title: ""
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_image: /assets/images/title.jpg
intro:
  - excerpt: "Hi! I'm Brian. I'm a UX engineer and frontend developer specializing in prototyping web apps."
feature_row0:
    - image_path: /assets/images/yext.png
      alt: "Yext"
      title: "Yext"
      excerpt: "I did a combination of full stack development on the Location Edit team and prototyping of several cross-team projects such as Yext for Events, accessible navigation, and the Yext Japan launch. Products not yet released."
    - image_path: /assets/images/dukeApoClearBackground.png
      alt: "Duke APO Website"
      title: "Duke APO Rebrand"
      excerpt: "Redesigned our previous website as a single static page. Read more on [Medium](https://medium.com/@brianmlin/duke-apo-branding-and-website-redesign-8d712262c0e8)!"
    - image_path: http://i.imgur.com/TNHx8Mk.png
      alt: "HackDuke"
      title: "HackDuke"
      excerpt: "Built the HackDuke [landing page](http://hackduke.org/), [day-of](http://dayof.hackduke.org/) site, and user registration [portal](http://my.hackduke.org/). Created a Slack chatbot that matched mentors with participants. Currently leading HackDuke marketing for the Fall."

feature_row1:
    - image_path: /assets/images/ideate.png
      alt: "Ideate"
      title: "Ideate Design Conference"
      excerpt: "I organized and helped found Duke's first design conference. Handled logistics ranging from coordinating speakers to scheduling workshops."
    - image_path: /assets/images/fidelity.png
      alt: "Frontend Intern at Fidelity"
      title: "Fidelity Investments"
      excerpt: "Built a web app that automated how managers granted access to their employees, helping team reach target automation goals."
    - image_path: http://i.imgur.com/gZZ9fse.png
      alt: "Walla"
      title: "iOS Developer at Walla"
      excerpt: "Winner of the 2016 Duke Startup Challenge and $50k funding"

---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row0" %}

{% include feature_row id="feature_row1" %}

