---
title: "Brian M Lin - UX and Frontend Engineer"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/samuraiChamploo.jpg
intro:
  - excerpt: "Hi! I'm Brian. I'm a rising senior at Duke studying Computer Science with a Creative Writing minor.
  I split my time between frontend software development, specializing with React, and UX engineering with Sketch and Framer"
feature_row0:
    - image_path: /assets/images/dukeApoClearBackground.png
      alt: "Duke APO Website"
      title: "Duke APO"
      excerpt: "Branding and redesign of the Duke APO website using Sketch. Read my article on [Medium](https://medium.com/@brianmlin/duke-apo-branding-and-website-redesign-8d712262c0e8)!"
    - image_path: /assets/images/yext.png
      alt: "Yext"
      title: "UX Engineering Intern"
      excerpt: "Used Sketch and Framer to prototype Yext for Events and Accessible Navbars"
    - image_path: /assets/images/ideate.png
      alt: "Ideate"
      title: "Ideate Organizer"
      excerpt: "Founded Ideate, Duke's first design conference on campus"

feature_row1:

---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row0" %}
