---

title: "brian m lin"
layout: splash
author_profile: true
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/samuraiChamploo.jpg
intro:
  - excerpt: "Hi! I'm Brian. I'm a rising senior at Duke studying Computer Science with a Creative Writing minor.
  I've worked on a range of frontend web development projects and spend my free time taking photos, writing short stories, and cooking with friends.
  You can check out my projects and past experience below."
feature_row0:
    - image_path: /assets/images/yext.png
      alt: "Yext"
      title: "Software engineering intern at Yext"
      excerpt: "Worked on fullstack team owning the LocationEdit page"
    - image_path: http://i.imgur.com/FjUplVT.gif
      alt: "HackDuke landing page"
      title: "HackDuke landing page"
      excerpt: "Worked on the HackDuke [landing page](http://hackduke.org/), built with React, Travis-CI, Karma, and Heroku"
    - image_path: /assets/images/fidelity.png
      alt: "Frontend intern at Fidelity"
      title: "Frontend intern at Fidelity"
      excerpt: "Built an Angular JS web app that automated how managers granted access to their employees"

feature_row1:
    - image_path: http://i.imgur.com/I4d5BfB.png
      alt: "HackDuke day of page"
      title: "HackDuke day of page"
      excerpt: "Worked on the [day of page](http://dayof.hackduke.org/) for the Hackathon"
    - image_path: http://i.imgur.com/s5eBWte.png
      alt: "HackDuke slackbot"
      title: "HackDuke mentorship Slackbot"
      excerpt: "Wrote a Slack chatbot that matched mentors with participants based on skill or track"
    - image_path: http://i.imgur.com/RsJ9rxc.png
      alt: "HackDuke portal"
      title: "HackDuke portal"
      excerpt: "Worked on the [user portal](http://hackduke.org/) used for participant registration"



feature_row2:
    - image_path: /assets/images/fidelity.png
      alt: "Walla"
      title: "iOS developer with Walla"
      excerpt: "Winner of the 2016 Duke Startup Challenge and $50k funding"
    - image_path: /assets/images/dpr.jpg
      alt: "Duke Political Review"
      title: "Duke Political Review"
      excerpt: "Designed and built the DPR [website](http://dukepoliticalreview.org/)"
    - image_path: /assets/images/fidelity.png
      alt: "ClairVista"
      title: "Frontend intern at ClairVista"
      excerpt: "Added a browser testing web app to our video conferencing product"

feature_row3:
    - image_path: /assets/images/fidelity.png
      alt: "CS research at Duke"
      title: "Mobile computing research"
      excerpt: "Built and tested a text-recognizing wearable camera, paper accepted into MobiCASE 16"
    - image_path: /assets/images/leviathan.png
      alt: "Duke Robotics Club"
      title: "Duke Robotics Club"
      excerpt: "Worked on Python motion planning for an underwater drone; placed 14th out of 50 international teams in our first year at the RoboSub competition"
    - image_path: /assets/images/leviathan.png
      alt: "Duke Robotics website"
      title: "Duke Robotics website"
      excerpt: "Built website"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row0" %}

{% include feature_row id="feature_row1" %}

{% include feature_row id="feature_row2" %}

{% include feature_row id="feature_row3" %}
