---

title: "brian m lin"
layout: splash
author_profile: true
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/samuraiChamploo.jpg
intro:
  - excerpt: "Hi! I'm Brian. I'm a rising senior at Duke studying Computer Science with a Creative Writing minor.
  I've worked on a range of frontend web development projects and spend my free time taking photos, writing short stories, and cooking with friends.
  You can check out my projects and past experience below."
feature_row0:
    - image_path: /assets/images/yext.png
      alt: "Yext"
      title: "Software Engineering Intern at Yext"
      excerpt: "Part of fullstack team owning the Location Edit page"
    - image_path: http://i.imgur.com/SOEMiBN.png
      alt: "HackDuke landing page"
      title: "HackDuke Landing Page"
      excerpt: "Worked on the HackDuke [landing page](http://hackduke.org/), built with React, Travis-CI, Karma, and Heroku"
    - image_path: /assets/images/fidelity.png
      alt: "Frontend Intern at Fidelity"
      title: "Frontend Intern at Fidelity"
      excerpt: "Built Angular JS web app that automated how managers granted access to their employees"

feature_row1:
    - image_path: http://i.imgur.com/JgZjdNR.png
      alt: "HackDuke day of page"
      title: "HackDuke Day-Of Page"
      excerpt: "[Day-of Page](http://dayof.hackduke.org/) displaying important information, maps, and schedules for the Hackathon"
    - image_path: http://i.imgur.com/s5eBWte.png
      alt: "HackDuke slackbot"
      title: "HackDuke mentorship Slackbot"
      excerpt: "Slack chatbot that matched mentors with participants based on skill or track"
    - image_path: http://i.imgur.com/TNHx8Mk.png
      alt: "HackDuke portal"
      title: "HackDuke portal"
      excerpt: "[User portal](http://hackduke.org/) used for participant registration"

feature_row2:
    - image_path: http://i.imgur.com/gZZ9fse.png
      alt: "Walla"
      title: "iOS Developer at Walla"
      excerpt: "Winner of the 2016 Duke Startup Challenge and $50k funding"
    - image_path: /assets/images/dpr.jpg
      alt: "Duke Political Review"
      title: "Duke Political Review"
      excerpt: "Designed and built the DPR [website](http://dukepoliticalreview.org/)"
    - image_path: /assets/images/clairVista.jpeg
      alt: "ClairVista"
      title: "Frontend Intern at ClairVista"
      excerpt: "Added a browser testing web app to our video conferencing product"

feature_row3:
    - image_path: /assets/images/duke.png
      alt: "CS research at Duke"
      title: "Mobile computing research"
      excerpt: "Built and tested a text-recognizing wearable camera, paper accepted into MobiCASE 16"
    - image_path: /assets/images/leviathan.png
      alt: "Duke Robotics Club"
      title: "Duke Robotics Club"
      excerpt: "Worked on Python motion planning for an underwater drone; placed 14th out of 50 international teams in our first year at the RoboSub competition"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row0" %}

{% include feature_row id="feature_row1" %}

{% include feature_row id="feature_row2" %}

{% include feature_row id="feature_row3" %}
