---
title: "Splash Page"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/samuraiChamploo.jpg
intro:
  - excerpt: "Hi! I'm Brian. I'm a rising senior at Duke studying Computer Science with a Creative Writing minor.
  I've worked on a range of frontend web development projects and spend my free time taking photos, writing short stories, and cooking with friends.
  You can check out my projects and past experience below."
feature_row0:
    - image_path: /assets/images/hackDuke.png
      alt: "HackDuke Tech"
      title: "HackDuke Tech"
      excerpt: "Worked on HackDuke [website](http://dukepoliticalreview.org/), login portal, and Day Of page"
    - image_path: /assets/images/yext.png
      alt: "Yext"
      title: "SWE Internship"
      excerpt: ""
    - image_path: /assets/images/dpr.jpg
      alt: "Duke Political Review"
      title: "Duke Political Review"
      excerpt: "Designed and built news [website](http://dukepoliticalreview.org/)"

feature_row1:
    - image_path: /assets/images/ideate.png
      alt: "Ideate"
      title: "Ideate"
      excerpt: "Helped found and organize [Ideate](http://ideate.hackduke.org/), Duke's first design conference"
    - image_path: /assets/images/leviathan.png
      title: "Duke Robotics Club"
      excerpt: "Worked on motion planning for underwater drone"
    - image_path: /assets/images/fidelity.png
      title: "Fidelity Investments"
      excerpt: "Web frontend intern"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row id="feature_row0" %}

{% include feature_row id="feature_row1" %}
