---
title: "Splash Page"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/samuraiChamploo.jpg
intro:
  - excerpt: "Hi! I'm Brian. I'm a rising senior at Duke studying Computer Science with a Creative Writing minor.
  I've worked on a range of frontend web development projects and spend my free time taking photos, writing short stories, and cooking with friends.
  You can check out my projects and past experience below."
feature_row0:
    - image_path: assets/images/yext.png
      alt: "yext"
      title: "Yext Internship"
      excerpt: "Frontend web dev"
    - image_path: /assets/images/hackDuke.png
      alt: "hackDuke"
      title: "HackDuke Tech"
      excerpt: "Worked on HackDuke website, login portal, and Day Of page"
      url: "http://dukepoliticalreview.org/"
      btn_label: "Read More"
      btn_class: "btn--inverse"
    - image_path: /assets/images/ideate.png
      url: "http://ideate.hackduke.org/"
      title: "Ideate"
      excerpt: "Organizer"
feature_row1:
    - image_path: /assets/images/dpr.jpg
      url: "http://dukepoliticalreview.org/"
      title: "Duke Political Review"
      excerpt: "Webmaster"
    - image_path: /assets/images/leviathan.png
      title: "Duke Robotics Club"
      excerpt: "Worked on motion planning for underwater drone"
    - image_path: /assets/images/fidelity.png
      title: "Fidelity Investments"
      excerpt: "Web frontend intern"
---

{% include feature_row id="intro" type="center" %}

{% include feature_row0 %}

{% include feature_row1 %}
