---
title: "Splash Page"
layout: splash
date: 2016-03-23T11:48:41-04:00
header:
  overlay_color: "#000"
  overlay_filter: "0.5"
  overlay_image: /assets/images/samuraiChamploo.jpg
intro:
  - excerpt: "Hi! I'm Brian. I'm a rising senior at Duke studying Computer Science with a Creative Writing minor.
  I've worked on a range of frontend web development projects and spend my free time taking photos, writing short stories, and cooking with friends.
  You can check out my projects and past experience below."
feature_row:
    - image_path: assets/images/bio-photo.jpg
      alt: "placeholder image 1"
      title: "Placeholder 1"
      excerpt: "This is some sample content that goes here with **Markdown** formatting."
    - image_path: /assets/images/dpr.jpg
      alt: "placeholder image 2"
      title: "Placeholder 2"
      excerpt: "This is some sample content that goes here with **Markdown** formatting."
      url: "#test-link"
      btn_label: "Read More"
      btn_class: "btn--inverse"
    - image_path: /assets/images/bio-photo.jpg
      title: "Placeholder 3"
      excerpt: "This is some sample content that goes here with **Markdown** formatting."
---

{% include feature_row id="intro" type="center" %}

{% include feature_row %}
